.form__item__input {
	position: relative;
	z-index: 1;
}

.form__input, .form__submitBtn {
	width: 100%;
	height: 50px;
}

.form__input {
	background: rgba(255, 255, 255, .2);
	border: 0;
	color: #fff;
	z-index: 1;
}

.form__input__placeholder {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	color: #BEBEBE;
}

.form__input:focus, .form__input:focus-visible {
	outline: none;
	background: rgba(255, 255, 255, .4);
}

.form__input:focus ~ .form__input__placeholder,  .form__input:valid ~ .form__input__placeholder{
	display: none;
}

.form__submitBtn {
	background: #D4C17F;
	font-weight: 700;
	font-size: 16px;
	border: 0;
	color: #fff;
}

.form__submitBtn:hover {
	background: #8b7836;
}

.form__policyText {
	font-size: 13px;
	line-height: 16px;
	color: #E7E7E7;
}

.pl30 {
	padding-left: 30px;
}

.pl35 {
	padding-left: 35px;
}

.pb35 {
	padding-bottom: 35px;
}

@media (max-width: 425px) {

	.form__policyText {
	    font-size: 11px;
	}

	.form {
		max-width: 255px;
	}
}

@media (max-width: 991px) {
	.form__policy {
		text-align: center;
	}

	.pt10 {
		padding-top: 10px;
	}

	.pl35 {
		padding-left: 0;
	}
}

@media (max-width: 767px) {
	.pl30 {
		padding-left: 0;
	}

	.pb35 {
		padding-bottom: 0;
	}

	.pt40 {
		padding-top: 40px;
	}

	.pt-sm-10 {
		padding-top: 10px;
	}

	.form .form__item__input {
		margin-bottom: 15px;
	}

	.form__submit {
		margin-top: 10px;
	}

	.view__form {
		margin: auto !important;
	}
}